h1,
h2 {
  margin: 0;
}

header {
  background-color: #AB1C1C;
  color: white;
  padding: 16px;
  .info-wrapper {
    display: flex;
    gap: 10px;
  }
}

.container {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "state state"
    "frequency frequency"
    "description description"
    "specialFeatures specialFeatures"
    "helper helper";
    h2 {
      font-size:18px;
    }  


}

.title {
  grid-area: title;
}

.subMissions {
  grid-area: subMissions;
}

.helper {
  grid-area: helper;
  .wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
}

.title-wrapper {
  display: flex;
  gap: 8px;
}

.frequency {
  grid-area: frequency;
}

.phone {
  grid-area: phone;
}

.description {
  grid-area: description;

  p {
    text-align: justify;
  }
}

.state {
  grid-area: state;
}

.stateUpdate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.missionManager {
  grid-area: missionManager;
}

.managerPhone {
  grid-area: managerPhone;
}

#mapSwitch {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.specialFeatures {
  grid-area: specialFeatures;
}

.iconText {
  display: flex;
  gap: 4px;
  align-items: center;
}
